@import 'Equipment.css';
@import 'Icons.css';

@font-face {
    src: url('../../../../../resources/resources/Rajdhani-Regular.ttf');
}

@font-face {
    src: url('../../../../../resources/resources/Rajdhani-Medium.ttf');
}

@font-face {
    src: url('../../../../../resources/resources/Quark-Bold.otf');
}

@font-face {
    src: url('../../../../../resources/resources/Quark-Light.otf');
}

.root{
	/* @SuppressWarning */   
	lsml-accent: hsb(28.0, 100.0%, 78.0%);
	/* @SuppressWarning */   
	lsml-header: hsb(240.0,4.0%,20.0%);
	/* @SuppressWarning */   
	lsml-section: hsb(240.0, 1.0%, 80.0%);
	/* @SuppressWarning */   
	lsml-base: hsb(240.0, 1.0%, 30.0%);
	
	-fx-font-family: 'Rajdhani Medium';
	-fx-font-smoothing-type: gray;
	-fx-font-size: 10.0pt;
	
	-fx-highlight: dropshadow(three-pass-box, derive(-fx-base, 70.0%), 3.0, 0.04, 0.0, 0.0);	
	-fx-boxshadow: dropshadow(three-pass-box, derive(-fx-background, -50%), 3, 0.0, 1.5, 1.5);	
	-fx-boxshadow-shallow: dropshadow(three-pass-box, derive(-fx-background, -20%), 3, 0.0, 0.0, 0.0);
	-fx-boxshadow-deep: dropshadow(three-pass-box, derive(-fx-background, -70%), 20, 0.0, 2.0, 2.0);
	-fx-boxshadow-feint: dropshadow(three-pass-box, derive(-fx-background, -20%), 3, 0.0, 2, 2);	
	-fx-boxshadow-down: dropshadow(three-pass-box, derive(-fx-background, -30%), 5, 0.0, 0.0, 0.5);

	-fx-accent: lsml-accent;	
	-fx-background: lsml-section;
	-fx-base: ladder(lsml-base, 
					 derive(lsml-base, 50%) 49%, 
					 derive(lsml-base, -50%) 50%);
	
    -fx-hover-base: ladder(
        -fx-base,
        derive(-fx-base,10%) 20%,
        derive(-fx-base,20%) 35%,
        derive(-fx-base,30%) 50%
     );
    
    -fx-text-base-color: ladder(
        -fx-color,
        -fx-light-text-color 55%,
        -fx-dark-text-color  56%,
        -fx-dark-text-color  59%,
        -fx-mid-text-color   60%
    );
	
	/******** Remove gradients from just about everything ********/
	-fx-body-color: -fx-color;
    -fx-inner-border: derive(-fx-color,23.0%);  
}

/******** Useful default styles ********/
.h1{
	-fx-font-size: 20.0pt;	
}

.h2{
	-fx-font-size: 14.0pt;
	-fx-font-weight: bold;
}

.default-spacing{
	-fx-vgap: 0.5em;
	-fx-hgap: 0.5em;
	-fx-spacing: 0.5em;
}

.default-padding{
	-fx-padding: 0.2em 0.8em 0.3em 0.6em;
}

.material{
	-fx-background-color: -fx-background;
	-fx-effect: -fx-boxshadow;
}

.flat{
	-fx-background-color: -fx-background;
}

/******** Header Pane is used for showing the title on the content ********/
.title{
	-fx-background: derive(lsml-section, -10%);
}

.title .h1,
.title .h2{
	-fx-padding: 0.0 0.0 0.0 1.0em;
}

.nav{
	-fx-spacing: 0em;
	-fx-padding: 1em 0 0em 0;
	-fx-background: derive(lsml-section, -20%);
}

.nav .toggle-button {
    -fx-pref-width: 14.0em;
    -fx-alignment: center-left;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-body-color: -fx-background;
    -fx-padding:  0.5em 0.0 0.5em 1.0em;
    -fx-text-fill: derive(-fx-body-color, -60%) ;
    -fx-effect: none;
}

.nav .toggle-button:selected {
	-fx-body-color: derive(-fx-background, 50%);
}

.nav .toggle-button:hover{
	-fx-text-fill: white;
}

.nav .toggle-button .icon {
	-fx-background-color: -fx-text-fill;
	-fx-effect: -fx-boxshadow-feint;
}

.nav .toggle-button .text {
	-fx-effect: -fx-boxshadow-feint;
}

/******** Banner Pane is used for showing the top menu bar ********/

.header .logo{
	-fx-background-color: lsml-accent; 
	-fx-pref-height: 2em;
	-fx-pref-width: 1.61em;
	-fx-effect: -fx-boxshadow;
}
.header {
	-fx-padding: 5px 0.3em 6px 1.0em;
	-fx-background: lsml-header;
	-fx-effect: -fx-boxshadow-down;
}

.header .h1,
.header .h2{
	-fx-padding: 0.0 0.0 0.0 1.0em;
}

.header .button{
	-fx-base: lsml-accent;	
}

.header .h1{
	-fx-text-fill: derive(-fx-background, 60%);
	-fx-effect: -fx-boxshadow;
}

/******** Content Pane is used for showing the page content in a slightly different hue ********/
.content{
	-fx-padding: 0 0 1 1;
}

.overlay{
	-fx-background-insets: 4em;
	-fx-padding: 4em;
	-fx-effect: -fx-boxshadow-deep;
}

.separator:horizontal .line{
	-fx-border-color: derive(-fx-background, -30%);
	-fx-border-insets: 0;
	-fx-border-width: 1px;
}

/******** Various Panes ********/
.pane,
.scroll-pane,
.split-pane,
.list-view,
.tree-view,
.table-view, 
.tree-table-view,
.pane:focused,
.scroll-pane:focused,
.split-pane:focused,
.list-view:focused,
.tree-view:focused,
.tree-table-view:focused { 
    -fx-background-insets: 0.0;
    -fx-padding: 0.0;
}

/******** SplitPane ********/
.split-pane:horizontal .split-pane-divider,
.split-pane:vertical .split-pane-divider{
	-fx-background-color: -fx-background;
	-fx-background-insets: 0;
	-fx-padding: 0.15em;
}

/******** TitledPane ********/
.titled-pane .title{	
    -fx-background-color: -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0.0, 1.0 0.0 1.0 0.0;
    -fx-background-radius: 0.0;
}

.titled-pane .title:hover .text{	
    -fx-effect: -fx-highlight;
}

/******** TabPane ********/
.tab-pane .tab-header-background{
	-fx-background-color: derive(-fx-text-box-border, -60.0%);
	-fx-background-insets: 0.0;
}

.tab-pane .tab-content-area{
	-fx-padding: 0.2em 0.0 0.0 0.0;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
	-fx-background-color: -fx-body-color;
    -fx-background-insets: 2.0 2.0 0.0 2.0;
    -fx-background-radius: 0.0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top,
.tab-pane > .tab-header-area > .headers-region > .tab:right,
.tab-pane > .tab-header-area > .headers-region > .tab:bottom,
.tab-pane > .tab-header-area > .headers-region > .tab:left {
    -fx-background-color: -fx-body-color;
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover .text {
    -fx-effect: -fx-highlight;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: -fx-accent, -fx-background;
    -fx-background-insets: 2.0 2.0 0.0 2.0, 4.0 2.0 0.0 2.0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:bottom:selected .focus-indicator,
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator
 {
    -fx-border-width: 1.0, 1.0;
    -fx-border-color: -fx-faint-focus-color, -fx-focus-color;
    -fx-border-insets: -5.0 -6.0 -6.0 -6.0, -4.0 -5.0 -5.0 -5.0;
    -fx-border-radius: 2.0, 1.0; /* looks sharper if outer border has a tighter radius (2 instead of 3) */
}

/******** Buttons ********/
.button,
.toggle-button{
	-fx-background-color: -fx-body-color;
	-fx-background-insets: 0.0;
	-fx-background-radius: 3.0px;
	-fx-effect: -fx-boxshadow;
}

.button:armed,
.toggle-button:armed{
	-fx-body-color: green;
	-fx-effect: -fx-boxshadow-shallow;
	-fx-translate-y: 1px;
}

.button:hover,
.toggle-button:hover{
}

/*
.button:hover .text,
.toggle-button:hover .text{
    -fx-effect: -fx-highlight;
}*/

.toggle-button:selected{
	-fx-base: -fx-accent;
}

/******** Text Field ********/
.text-field{
	-fx-background-color: -fx-control-inner-background;
	-fx-background-insets: 0.0;
}

.text-field:hover .text{
    -fx-effect: -fx-highlight;
}