@import 'BaseStyle.css';

.block-pill{
	-fx-hgap: 0.4em;
	-fx-vgap: 0.2em;
	-fx-padding: 0.3em;
    -fx-text-base-color: -level1fg;
	-fx-background-color: -level1bg;
	-fx-background-radius: 5px;
}

.page-loadout .list-view .cell:selected .block-pill{
    -fx-text-base-color: -level2fg;
	-fx-background-color: -level2bg;
}

.block-pill .icon,
.block-pill .icon-small{
	-fx-background-color: -fx-text-base-color;
}

.block-pill .button,
.block-pill .button:focus{
	-fx-background-color: transparent;
}

.block-pill .button:hover{
	-fx-background: -level2bg;
	-fx-background-color: -level2bg;
}


.block-pill #equipment{
	-fx-spacing: 0.2em;
}


.pill-title{
	-fx-font-size: 14.0pt;
	-fx-font-weight: bold;
}