
.block-pill{
	-fx-hgap: 0.4em;
	-fx-vgap: 0.2em;
	-fx-padding: 0.3em;
	-fx-background: derive(-fx-background-dark, 10%);
	-fx-background-color: -fx-background;
	-fx-background-radius: 5px;
}

.cell:selected:hover .block-pill{
	-fx-background: derive(-fx-background-dark, 25%);
	-fx-background-color: -fx-accent, -fx-background;
	-fx-background-insets: 0, 2;
    -fx-effect: -fx-highlight;
}

.cell:selected .block-pill{
	-fx-background: derive(-fx-background-dark, 20%);
	-fx-background-color: -fx-accent, -fx-background;
	-fx-background-insets: 0, 2;
    -fx-effect: -fx-highlight;
}

.cell:hover .block-pill{
	-fx-background: derive(-fx-background-dark, 15%);
	-fx-background-color: -fx-background;
}


.cell:hover .block-pill .text{
    -fx-effect: -fx-highlight;
}

.block-pill .icon,
.block-pill .icon-small{
	-fx-background-color: -fx-text-base-color;
}


.block-pill #equipment{
	-fx-spacing: 0.2em;
}
