.root {
	colour-module-item: 		hsb(215, 55%, 48%);
	colour-module-bg: 			hsb(215, 25%, 25%);
	colour-module-fg: 			hsb(215, 5%, 95%);
	colour-module-bg-dark: 		hsb(215, 15%, 30%);
	colour-module-fg-dark: 		hsb(215, 10%, 65%);

	colour-energy-item: 		hsb(30, 100%, 70%);
	colour-energy-bg: 			hsb(30, 25%, 25%);
	colour-energy-fg: 			hsb(30, 5%, 95%);
	colour-energy-bg-dark: 		hsb(30, 15%, 30%);
	colour-energy-fg-dark: 		hsb(30, 10%, 65%);
	colour-energy-fixed: 		hsb(30, 30%, 60%);
	colour-energy-fg-fixed:		hsb(30, 30%, 30%);

	colour-ballistic-item:  	hsb(293, 80%, 70%);
	colour-ballistic-ammo:  	hsb(293, 80%, 30%);
	colour-ballistic-bg:		hsb(293, 25%, 25%);
	colour-ballistic-fg:		hsb(293, 5%, 95%);
	colour-ballistic-bg-dark:	hsb(293, 10%, 30%);
	colour-ballistic-fg-dark:	hsb(293, 10%, 65%);
	colour-ballistic-fixed: 	hsb(293, 30%, 60%);
	colour-ballistic-fg-fixed:	hsb(293, 30%, 30%);
	
	colour-missile-item: 		hsb(171, 100%, 70%);
	colour-missile-ammo:  		hsb(171, 100%, 30%);
	colour-missile-bg: 			hsb(171, 25%, 25%);
	colour-missile-fg: 			hsb(171, 5%, 95%);
	colour-missile-bg-dark: 	hsb(171, 15%, 30%);
	colour-missile-fg-dark: 	hsb(171, 10%, 65%);
	colour-missile-fixed: 		hsb(171, 30%, 60%);
	colour-missile-fg-fixed:	hsb(171, 30%, 30%);
	
	colour-ams-item: 			hsb(83, 100%, 70%);
	colour-ams-ammo: 			hsb(83, 100%, 30%);
	colour-ams-bg: 				hsb(83, 25%, 20%);
	colour-ams-fg: 				hsb(83, 5%, 95%);
	colour-ams-bg-dark: 		hsb(83, 15%, 30%);
	colour-ams-fg-dark: 		hsb(83, 10%, 65%);
	colour-ams-fixed: 			hsb(83, 30%, 60%);
	colour-ams-fg-fixed:		hsb(83, 30%, 30%);
	
	colour-ecm-item: 			hsb(27, 100%, 70%);
	colour-ecm-bg: 				hsb(27, 25%, 20%);
	colour-ecm-fg: 				hsb(27, 5%, 95%);
	colour-ecm-bg-dark: 		hsb(27, 15%, 30%);
	colour-ecm-fg-dark: 		hsb(27, 10%, 65%);
	colour-ecm-fixed: 			hsb(27, 30%, 60%);
	colour-ecm-fg-fixed:		hsb(27, 30%, 30%);
	
	colour-misc-item: 			hsb(200, 100%, 70%);
	colour-misc-bg: 			hsb(200, 25%, 20%);
	colour-misc-fg:  			hsb(200, 5%, 95%);
	colour-misc-bg-dark:  		hsb(200, 15%, 30%);
	colour-misc-fg-dark:  		hsb(200, 10%, 65%);
	colour-misc-fixed: 			hsb(200, 30%, 60%);
	colour-misc-fg-fixed:		hsb(200, 30%, 30%);
	
	colour-engine-item: 		hsb(203, 100%, 70%);
	colour-engine-bg: 			hsb(203, 25%, 20%);
	colour-engine-fg: 			hsb(203, 5%, 95%);
	colour-engine-bg-dark: 		hsb(203, 15%, 30%);
	colour-engine-fg-dark: 		hsb(203, 10%, 65%);
	colour-engine-fixed: 		hsb(203, 30%, 60%);
	colour-engine-fg-fixed: 	hsb(203, 30%, 30%);
		
	colour-jj-item: 			hsb(203, 100%, 70%);
	colour-jj-fg: 				hsb(203, 5%, 95%);
	colour-jj-fixed: 			hsb(203, 30%, 60%);
	colour-jj-fg-fixed: 		hsb(203, 30%, 30%);
	
	colour-hs-item: 			hsb(203, 100%, 70%);
	colour-hs-fg: 				hsb(203, 5%, 95%);
	colour-hs-fixed: 			hsb(203, 30%, 60%);
	colour-hs-fg-fixed: 		hsb(203, 30%, 30%);
	
	colour-internal-item: 		hsb(203, 12%, 70%);
	colour-internal-fg: 		hsb(203, 12%, 95%);
	colour-internal-fixed: 		hsb(203, 8%, 60%);
	colour-internal-fg-fixed: 	hsb(203, 8%, 30%);
	
	colour-dynamic-item: 		hsb(203, 0%, 55%);
	colour-dynamic-fg: 			hsb(203, 0%, 30%);
	colour-dynamic-fixed: 		hsb(203, 0%, 55%);
	colour-dynamic-fg-fixed: 	hsb(203, 0%, 30%);
	
	colour-empty-bg: 			hsb(0, 0%, 35%);
	colour-empty-fg: 			hsb(0, 0%, 55%);

	quirk-bad: red;
	quirk-good: green;
	quirk-neutral: black;
		
	colour-lsml-orange: hsb(30, 100%, 70%);
	colour-lsml-gray: hsb(240, 5%, 17%);
	

	/********* Base settings *********/	
	-fx-text-fill: white;
	-fx-base: colour-lsml-gray;
	/*-fx-font-family: Quark-Bold;*/
	-fx-font-size: 8.0pt;
	
}

/*********** Styling for components ***********/

.layout-root{
	-fx-padding: 2pt;
	-fx-background-color: linear-gradient( from 0% 0%  to 100% 100%, hsb(30, 20%, 50%) 0%, derive(colour-lsml-orange, -70%) 30%, colour-lsml-gray 60% )
}

.layout-container{
	-fx-spacing: 2pt;
}

.component-root{
	-fx-animated: false;
	-fx-collapsible: false;
	-fx-alignment: center;
}

.component-root .title{
	-fx-background-insets: 0, 0, 0;
}

.component-root *.content{
	-fx-border-style: none;
	-fx-border-width: 0px;
}

.component-container{
	-fx-spacing: 2pt;
	-fx-background-color: hsb(0, 0%, 41%);
	-fx-padding: 2pt;
}

/* The container showing equipment (modules, items etc) */
.equipment-view{
	-fx-background-insets: 0.0;
	-fx-background-color: none;
}

.ArmStrut {
	-fx-min-height: 20.0pt;
	-fx-pref-height: 100.0pt;
}

.TorsoStrut{
	-fx-min-height: 10.0pt;
	-fx-pref-height: 50.0pt;
}

/*********** Styling for Engine on mech ***********/
.component-engine{
	-fx-padding: 0 0 4pt 0;
	-fx-spacing: 3pt;	
}

.component-engine .combo-box {
	-fx-background-color: colour-engine-bg;
}

.component-engine .combo-box .list-view .list-cell{
	-fx-background-color: colour-engine-bg;
	-fx-text-fill: colour-engine-fg;
}

.component-engine .check-box >.box {
	-fx-background-color: colour-engine-bg;
}

.component-engine .check-box {
	-fx-text-fill: colour-engine-fg;
}

/*********** Styling for hard points ***********/
#hardPointContainer{
	-fx-spacing: 2.0pt;
}

.hard-point{
	-fx-padding: 2.0pt;
	-fx-background-radius: 5.0pt;
}

/*********** Styling for equipment list ***********/
.equipment-list{
	-fx-focus-traversable: false;
	-fx-border-width: 0;
}

.equipment-list .cell {
	-fx-font-weight: 900;
	-fx-border-width: 0;
}

.equipment-list .cell:unequippable {
	-fx-font-weight: 200;
}

.equipment-list .tree-table-row-cell:hover .cell{
	-fx-effect: dropshadow(three-pass-box, grey, 2, 0.01, 0, 0);
}

.equipment-list .tree-table-row-cell:selected .cell{
	-fx-background-color: none;
}

/*********** --> Empty slots ***********/
.equipment-empty{
	-fx-background-color: colour-empty-bg;
	-fx-text-fill: colour-empty-fg;
}


/*********** --> Jump Jets ***********/
.equipment-jj{
	-fx-background-color: colour-jj-item;
	-fx-text-fill: colour-jj-fg;
}

.equipment-jj:fixed{
	-fx-background-color: colour-jj-fixed;
	-fx-text-fill: colour-jj-fg-fixed;
}

/*********** --> Heat Sinks ***********/
.equipment-hs{
	-fx-background-color: colour-hs-item;
	-fx-text-fill: colour-hs-fg;
}

.equipment-hs:fixed{
	-fx-background-color: colour-hs-fixed;
	-fx-text-fill: colour-hs-fg-fixed;
}

/*********** --> Internal ***********/
.equipment-internal{
	-fx-background-color: colour-internal-item;
	-fx-text-fill: colour-internal-fg;
}

.equipment-internal:fixed{
	-fx-background-color: colour-internal-fixed;
	-fx-text-fill: colour-internal-fg-fixed;
}

/*********** --> Dynamic Structure/Armor ***********/
.equipment-dynamic{
	-fx-background-color: colour-dynamic-item;
	-fx-text-fill: colour-dynamic-fg;
}

.equipment-dynamic:fixed{
	-fx-background-color: colour-dynamic-fixed;
	-fx-text-fill: colour-dynamic-fg-fixed;
}

/*********** --> Modules ***********/
.equipment-consumable, .equipment-weapon-module, .equipment-mech-module{
	-fx-background-color: colour-module-item;
	-fx-background: colour-module-item;
	-fx-text-fill: colour-module-fg;
}

.equipment-consumable .cell, .equipment-weapon-module .cell, .equipment-mech-module .cell{
	-fx-text-fill: colour-module-fg;
}

.equipment-consumable-list, .equipment-weapon-module-list, .equipment-mech-module-list{
	-fx-background-color: colour-module-bg;
	-fx-background: colour-module-bg;
}

.equipment-consumable-list .cell, .equipment-weapon-module-list .cell, .equipment-mech-module-list .cell{
	-fx-text-fill: colour-module-fg;
}

.equipment-consumable-list:unequippable, .equipment-weapon-module-list:unequippable, .equipment-mech-module-list:unequippable{
	-fx-background-color: colour-module-bg-dark;
	-fx-background: colour-module-bg-dark;
}

.equipment-consumable-list:unequippable .cell, .equipment-weapon-module-list:unequippable .cell, .equipment-mech-module-list:unequippable .cell{
	-fx-text-fill: colour-module-fg-dark;
}

.equipment-module-default-icon{
	-fx-min-height: 15.0pt;
	-fx-pref-height: 15.0pt;
	-fx-min-width: 15.0pt;
	-fx-pref-width: 15.0pt;
	-fx-background-color: colour-module-item;
    -fx-shape: "M 0 0 v 9 l 1 1 H 20 V 1 l -1 -1 z";
}

/*********** --> Energy ***********/
.equipment-energy{
	-fx-background-color: colour-energy-item;
	-fx-background: colour-energy-item;
	-fx-text-fill: colour-energy-fg;
}

.equipment-energy .cell{
	-fx-text-fill: colour-energy-fg;
}

.equipment-energy:fixed{
	-fx-background: colour-energy-fixed;
}

.equipment-energy:fixed .cell{
	-fx-text-fill: colour-energy-fg-fixed;
}
 
.equipment-energy-list{
	-fx-background: colour-energy-bg;
}

.equipment-energy-list .cell{
	-fx-text-fill: colour-energy-fg;
}

.equipment-energy-list:unequippable{
	-fx-background: colour-energy-bg-dark;
}

.equipment-energy-list:unequippable .cell{
	-fx-text-fill: colour-energy-fg-dark;
}

.equipment-energy-list:smartplaceable{
	-fx-background-color: linear-gradient(from 200 0 to 201 1, colour-energy-bg 0%, colour-energy-bg-dark 100%);
}

.equipment-energy-default-icon{
	-fx-min-height: 15.0pt;
	-fx-pref-height: 15.0pt;
	-fx-min-width: 15.0pt;
	-fx-pref-width: 15.0pt;
	-fx-background-color: colour-energy-item;
    -fx-shape: "M 0 0 v 9 l 1 1 H 20 V 1 l -1 -1 z";
}

/*********** --> Ballistic ***********/
.equipment-ballistic{
	-fx-background-color: colour-ballistic-item;
	-fx-background: colour-ballistic-item;
	-fx-text-fill: colour-ballistic-fg;
}

.equipment-ballistic .cell{
	-fx-text-fill: colour-ballistic-fg;
}

.equipment-ballistic:fixed{
	-fx-background: colour-ballistic-fixed;
}

.equipment-ballistic:fixed .cell{
	-fx-text-fill: colour-ballistic-fg-fixed;
}

.equipment-ballistic-ammo{
	-fx-background: colour-ballistic-ammo;
	-fx-text-fill: colour-ballistic-fg;
}

.equipment-ballistic-list{
	-fx-background: colour-ballistic-bg;
}

.equipment-ballistic-list .cell{
	-fx-text-fill: colour-ballistic-fg;
}

.equipment-ballistic-list:unequippable{
	-fx-background: colour-ballistic-bg-dark;
}

.equipment-ballistic-list:unequippable .cell{
	-fx-text-fill: colour-ballistic-fg-dark;
}

.equipment-ballistic-list:smartplaceable{
	-fx-background-color: linear-gradient(from 200 0 to 201 1, colour-ballistic-bg 0%, colour-ballistic-bg-dark 100%);
}

.equipment-ballistic-default-icon{
	-fx-min-height: 15.0pt;
	-fx-pref-height: 15.0pt;
	-fx-min-width: 15.0pt;
	-fx-pref-width: 15.0pt;
	-fx-background-color: colour-ballistic-item;
    -fx-shape: "M 0 0 v 9 l 1 1 H 20 V 1 l -1 -1 z";
}

/*********** --> Missile ***********/
.equipment-missile{
	-fx-background-color: colour-missile-item;
	-fx-background: colour-missile-item;
	-fx-text-fill: colour-missile-fg;
}

.equipment-missile .cell{
	-fx-text-fill: colour-missile-fg;
}

.equipment-missile:fixed{
	-fx-background: colour-missile-fixed;
}

.equipment-missile:fixed .cell{
	-fx-text-fill: colour-missile-fg-fixed;
}

.equipment-missile-ammo{
	-fx-background-color: colour-missile-ammo;
	-fx-text-fill: colour-missile-fg;
}

.equipment-missile-list{
	-fx-background-color: colour-missile-bg;
}

.equipment-missile-list .cell{
	-fx-text-fill: colour-missile-fg;
}

.equipment-missile-list:unequippable{
	-fx-background: colour-missile-bg-dark;
}

.equipment-missile-list:unequippable .cell{
	-fx-text-fill: colour-missile-fg-dark;
}

.equipment-missile-list:smartplaceable{
	-fx-background-color: linear-gradient(from 200 0 to 201 1, colour-missile-bg 0%, colour-missile-bg-dark 100%);
}

.equipment-missile-default-icon{
	-fx-min-height: 15.0pt;
	-fx-pref-height: 15.0pt;
	-fx-min-width: 15.0pt;
	-fx-pref-width: 15.0pt;
	-fx-background-color: colour-missile-item;
    -fx-shape: "M 0 0 v 9 l 1 1 H 20 V 1 l -1 -1 z";
}

/*********** --> AMS ***********/
.equipment-ams{
	-fx-background-color: colour-ams-item;
	-fx-background: colour-ams-item;
	-fx-text-fill: colour-ams-fg;
}

.equipment-ams .cell{
	-fx-text-fill: colour-ams-fg;
}

.equipment-ams:fixed{
	-fx-background: colour-ams-fixed;
}

.equipment-ams:fixed .cell{
	-fx-text-fill: colour-ams-fg-fixed;
}

.equipment-ams-ammo{
	-fx-background-color: colour-ams-ammo;
	-fx-text-fill: colour-ams-fg;
}

.equipment-ams-list{
	-fx-background-color: colour-ams-bg;
}

.equipment-ams-list .cell{
	-fx-text-fill: colour-ams-fg;
}

.equipment-ams-list:unequippable{
	-fx-background: colour-ams-bg-dark;
}

.equipment-ams-list:unequippable .cell{
	-fx-text-fill: colour-ams-fg-dark;
}

.equipment-ams-list:smartplaceable{
	-fx-background-color: linear-gradient(from 200 0 to 201 1, colour-ams-bg 0%, colour-ams-bg-dark 100%);
}

.equipment-ams-default-icon{
	-fx-min-height: 15.0pt;
	-fx-pref-height: 15.0pt;
	-fx-min-width: 15.0pt;
	-fx-pref-width: 15.0pt;
	-fx-background-color: colour-ams-item;
    -fx-shape: "M 0 0 v 9 l 1 1 H 20 V 1 l -1 -1 z";
}

/*********** --> ECM ***********/
.equipment-ecm{
	-fx-background-color: colour-ecm-item;
	-fx-background: colour-ecm-item;
	-fx-text-fill: colour-ecm-fg;
}

.equipment-ecm .cell{
	-fx-text-fill: colour-ecm-fg;
}

.equipment-ecm:fixed{
	-fx-background: colour-ecm-fixed;
}

.equipment-ecm:fixed .cell{
	-fx-text-fill: colour-ecm-fg-fixed;
}

.equipment-ecm-ammo{
	-fx-background-color: colour-ecm-ammo;
	-fx-text-fill: colour-ecm-fg;
}

.equipment-ecm-list{
	-fx-background-color: colour-ecm-bg;
}

.equipment-ecm-list .cell{
	-fx-text-fill: colour-ecm-fg;
}

.equipment-ecm-list:unequippable{
	-fx-background: colour-ecm-bg-dark;
}

.equipment-ecm-list:unequippable .cell{
	-fx-text-fill: colour-ecm-fg-dark;
}

.equipment-ecm-list:smartplaceable{
	-fx-background-color: linear-gradient(from 200 0 to 201 1, colour-ecm-bg 0%, colour-ecm-bg-dark 100%);
}

.equipment-ecm-default-icon{
	-fx-min-height: 15.0pt;
	-fx-pref-height: 15.0pt;
	-fx-min-width: 15.0pt;
	-fx-pref-width: 15.0pt;
	-fx-background-color: colour-ecm-item;
    -fx-shape: "M 0 0 v 9 l 1 1 H 20 V 1 l -1 -1 z";
}

/*********** --> Engine ***********/
.equipment-engine{
	-fx-background-color: colour-engine-item;
	-fx-background: colour-engine-item;
	-fx-text-fill: colour-engine-fg;
}

.equipment-engine .cell{
	-fx-text-fill: colour-engine-fg;
}

.equipment-engine:fixed{
	-fx-background: colour-engine-fixed;
}

.equipment-engine:fixed .cell{
	-fx-text-fill: colour-engine-fg-fixed;
}

.equipment-engine-ammo{
	-fx-background-color: colour-engine-ammo;
	-fx-text-fill: colour-engine-fg;
}

.equipment-engine-list{
	-fx-background-color: colour-engine-bg;
}

.equipment-engine-list .cell{
	-fx-text-fill: colour-engine-fg;
}

.equipment-engine-list:unequippable{
	-fx-background: colour-engine-bg-dark;
}

.equipment-engine-list:unequippable .cell{
	-fx-text-fill: colour-engine-fg-dark;
}

.equipment-engine-list:smartplaceable{
	-fx-background-color: linear-gradient(from 200 0 to 201 1, colour-engine-bg 0%, colour-engine-bg-dark 100%);
}

.equipment-engine-default-icon{
	-fx-min-height: 15.0pt;
	-fx-pref-height: 15.0pt;
	-fx-min-width: 15.0pt;
	-fx-pref-width: 15.0pt;
	-fx-background-color: colour-engine-item;
    -fx-shape: "M 0 0 v 9 l 1 1 H 20 V 1 l -1 -1 z";
}

/*********** --> Miscellaneous ***********/
.equipment-misc{
	-fx-background-color: colour-misc-item;
	-fx-background: colour-misc-item;
	-fx-text-fill: colour-misc-fg;
}

.equipment-misc .cell{
	-fx-text-fill: colour-misc-fg;
}

.equipment-misc:fixed{
	-fx-background: colour-misc-fixed;
}

.equipment-misc:fixed .cell{
	-fx-text-fill: colour-misc-fg-fixed;
}

.equipment-misc-ammo{
	-fx-background-color: colour-misc-ammo;
	-fx-text-fill: colour-misc-fg;
}

.equipment-misc-list{
	-fx-background-color: colour-misc-bg;
}

.equipment-misc-list .cell{
	-fx-text-fill: colour-misc-fg;
}

.equipment-misc-list:unequippable{
	-fx-background: colour-misc-bg-dark;
}

.equipment-misc-list:unequippable .cell{
	-fx-text-fill: colour-misc-fg-dark;
}

.equipment-misc-list:smartplaceable{
	-fx-background-color: linear-gradient(from 200 0 to 201 1, colour-misc-bg 0%, colour-misc-bg-dark 100%);
}

.equipment-misc-default-icon{
	-fx-min-height: 15.0pt;
	-fx-pref-height: 15.0pt;
	-fx-min-width: 15.0pt;
	-fx-pref-width: 15.0pt;
	-fx-background-color: colour-misc-item;
    -fx-shape: "M 0 0 v 9 l 1 1 H 20 V 1 l -1 -1 z";
}

/*********** Styling for equipped items ***********/

.equipped{
	-fx-background-insets: 1.0;
	-fx-background-radius: 0.0 6.0 0.0 6.0;
	-fx-font-size: 8.0pt;
	-fx-font-weight: bolder;
	-fx-alignment: top-left;
	-fx-padding: 3.0pt;
    -fx-shape: "M 0 0 v 9 l 1 1 H 20 V 1 l -1 -1 z";
}


/*********************************/
/*
.icon{
	-fx-min-height: 20pt;
	-fx-pref-height: 100pt;
	
	-fx-min-width: 20pt;
	-fx-pref-width: 100pt;
	-fx-background-color: red;
}
.item-energy{
	-fx-background-color: item-colour-disabled, category-colour-energy-bg;
	-fx-text-fill: white;
}

#equipmentList .cell:unequippable{
	-fx-background-insets: 0, 50;
}

#equipmentList .cell:unequippable .tree-table-cell {
	-fx-text-fill: #404040;
}*/

