/*
 * Icon classes 
 */
.icon{
    -fx-background-color: grey-orange-lightest;
    -fx-pref-height: 2.0em;
    -fx-pref-width: 2.0em;
}

.icon-small{
    -fx-pref-height: 1.0em;
    -fx-pref-width: 1.0em;
}

/*
 * Navigation block
 */
.block-nav{
    -fx-background-color: grey-orange-darker;
    -fx-spacing: 2.0px;
    -fx-padding: 0.0;
}

.block-nav .toggle-button {
    -fx-background-color: grey-orange-dark;
    -fx-pref-width: 12.0em;
    -fx-alignment: center-left;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}

.block-nav .toggle-button:selected {
    -fx-background-color: grey-orange-normal;
}
 
.block-nav .search-pane{
    -fx-padding: 0.3em 0.2em 0.3em 0.2em;
}

.block-nav .search-pane .text-field{
    -fx-background-radius: 1.0em,0.8em;
}

.block-nav .search-pane .icon{
    -fx-background-color: grey-orange-dark;
    -fx-pref-height: 1.5em;
    -fx-pref-width: 1.5em;
}


.block-nav .block-settings{
    -fx-spacing: 0.3em;
    -fx-padding: 0.3em;
}

/*
 * Top-level content block
 */
.block-content{
	-fx-background-color: -lsml-tab-fg;
	-fx-padding: 0em 0em 0em 1em;
}

.block-content .tree-view,
.block-content .tree-view .tree-cell{
	-fx-background-color: transparent;
}

.block-content .tree-view .tree-cell:selected{
	-fx-background-color: grey-orange-light;
}
.block-content .tree-view .tree-cell:hover{
	-fx-background-color: derive(grey-orange-light, -10%);
}

/*
 * Loadout page
 */
.page-loadouts .page-loadout-nav{
	-fx-spacing: 0.2em;	
	-fx-padding: 1em 0em 0em 0em;
}

.page-loadouts .button{
		
}
 
.page-loadouts #loadout_pills{
	-fx-padding: 0em 0em 0em 1em;
	-fx-background-color: grey-orange-light;
}

.page-loadouts #loadout_pills .cell{
	-fx-background: transparent;
}
.page-loadouts #loadout_pills .cell:selected{
	-fx-background: pink;
}

/*
 * SVG Images
 */
.svg-share{
	-fx-shape: "M -7010.4688 -1701.1875 C -7016.9518 -1701.1991 -7023.5445 -1699.8039 -7029.7812 -1696.8125 C -7044.4763 -1689.7641 -7053.5269 -1675.6981 -7054.875 -1660.5625 L -7224.4688 -1579.1875 C -7231.5462 -1583.9271 -7240.0611 -1586.6875 -7249.2188 -1586.6875 C -7273.8127 -1586.6875 -7293.75 -1566.7502 -7293.75 -1542.1562 C -7293.75 -1517.5623 -7273.8127 -1497.625 -7249.2188 -1497.625 C -7240.0611 -1497.625 -7231.5462 -1500.4167 -7224.4688 -1505.1562 L -7054.875 -1423.7812 C -7053.5269 -1408.6457 -7044.4763 -1394.5796 -7029.7812 -1387.5312 C -7007.6062 -1376.8951 -6981.0111 -1386.2624 -6970.375 -1408.4375 C -6959.7389 -1430.6126 -6969.1062 -1457.2076 -6991.2812 -1467.8438 C -7005.9783 -1474.8931 -7022.6017 -1473.1444 -7035.25 -1464.7188 L -7196.75 -1542.1562 L -7035.25 -1619.625 C -7022.6017 -1611.1993 -7005.9783 -1609.4506 -6991.2812 -1616.5 C -6969.1062 -1627.1361 -6959.7389 -1653.7312 -6970.375 -1675.9062 C -6978.0197 -1691.8446 -6993.901 -1701.1578 -7010.4688 -1701.1875 z ";
}

.svg-mech {
    -fx-shape: "m -5376.1137,-1977.1026 15.0396,0.1263 2.8471,3.2259 0,47.8807 -4.1481,1.6295 0,6.0804 3.3191,2.6072 0,19.0522 -2.478,2.8888 0,12.2159 2.478,2.0526 0,5.1439 9.1929,7.814 0,2.9206 -34.0988,0 0,-2.9206 8.5938,-7.814 0,-5.1439 2.3214,-2.0526 0,-12.2159 -2.3214,-2.8888 0,-19.0522 3.2483,-2.6072 0,-6.0804 -4.3644,-1.6295 0,-24.7991 -8.9063,0 0,-18.75 4.6072,0 0,-4.935 z m 5.2668,-70.8905 0,30.2792 -9.0945,8.0243 -7.4403,0 0,-40.0068 3.9466,0 1.7663,1.7033 z m 12.6199,3.1964 0,27.0828 11.3454,0 0,34.2572 8.0073,9.2126 0,17.6523 -5.1031,4.2995 0,3.6872 3.3327,0 0,14.9557 1.7704,0 7.2347,-13.7677 0,-52.2388 -2.6111,-3.2362 0,-14.8218 -4.6236,-4.4838 0,-16.8401 -8.0073,-5.7589 z m -58.0121,96.2282 0,-23.5492 -11.3011,-11.3011 0,-9.7227 11.1116,0 0,-39.3306 17.9265,0 0,39.3306 11.1116,0 0,9.7227 -11.3011,11.3011 0,23.5492 z m -0.1895,-89.0167 0,-18.8772 5.3646,-4.9245 7.1973,0 5.3646,4.9245 0,18.8772 z m -22.3884,60.4826 -15.0396,0.1263 -2.8471,3.2259 0,47.8807 4.1481,1.6295 0,6.0804 -3.3191,2.6072 0,19.0522 2.478,2.8888 0,12.2159 -2.478,2.0526 0,5.1439 -9.1929,7.814 0,2.9206 34.0988,0 0,-2.9206 -8.5938,-7.814 0,-5.1439 -2.3214,-2.0526 0,-12.2159 2.3214,-2.8888 0,-19.0522 -3.2483,-2.6072 0,-6.0804 4.3644,-1.6295 0,-24.7991 8.9063,0 0,-18.75 -4.6072,0 0,-4.935 z m -5.2667,-70.8905 0,30.2792 9.0944,8.0243 7.4403,0 0,-40.0068 -3.9465,0 -1.7664,1.7033 z m -12.62,3.1964 0,27.0828 -11.3454,0 0,34.2572 -8.0073,9.2126 0,17.6523 5.1031,4.2995 0,3.6872 -3.3327,0 0,14.9557 -1.7704,0 -7.2347,-13.7677 0,-52.2388 2.6111,-3.2362 0,-14.8218 4.6236,-4.4838 0,-16.8401 8.0073,-5.7589 z";
}

.svg-dropship{
    -fx-shape: "m -5069.185,-1921.0745 3.2172,1.1137 11.6315,31.9246 -2.846,1.7323 z m -5.2141,19.8305 1.9164,1.9273 4.2876,0 2.631,2.9774 0,3.9303 -2.0139,2.6418 1.9814,3.7137 0,11.1303 1.2343,2.4795 0,11.1303 1.9814,0 0,8.4235 2.2304,1.4833 0,4.699 -2.2304,0 -2.1005,2.1005 -10.589,0 -2.1113,-2.1005 -2.2195,0 0,-4.699 2.2195,-1.4833 0,-8.4235 1.9814,0 0,-11.1303 1.2343,-2.4795 0,-11.1303 -0.4331,-3.7245 -1.5807,-1.5808 0,-2.4469 -2.1871,-1.8406 z m -95.7291,29.19 -4.8289,-21.4267 0,-24.5498 10.9385,0 10.9386,0 0,24.5498 -4.8289,21.4267 -6.1097,0 z m -88.7239,-49.0205 -3.2172,1.1137 -11.6315,31.9246 2.846,1.7323 z m 79.9926,-0.1456 -0.1929,27.5016 5.8939,23.8714 -0.099,6.9986 -2.261,3.3324 0.3495,7.084 -1.9294,3.3655 -4.2575,0.1317 -1.0827,-1.6704 -5.8869,0.2474 -0.9826,1.4984 -19.4885,-0.075 -0.9311,-1.4848 -5.1986,-0.1238 -21.529,-26.5992 -18.3559,-46.1257 -0.4509,-5.6065 -4.0326,-4.1028 -1.4875,-8.4533 1.198,-5.7096 3.5885,-4.5131 5.9493,-26.1478 12.3972,-22.9932 2.9729,-0.1689 11.7391,-12.4286 -0.108,-1.9465 23.1501,-14.3185 25.4345,-7.2325 3.8469,-3.0722 6.5951,-1.2664 6.5951,1.2664 3.847,3.0722 25.4345,7.2325 23.1501,14.3185 -0.108,1.9465 11.7391,12.4286 2.9729,0.1689 12.3972,22.9932 5.9493,26.1478 3.5885,4.5131 1.198,5.7096 -1.4875,8.4533 -4.0326,4.1028 -0.4509,5.6065 -18.3559,46.1257 -21.529,26.5992 -5.1986,0.1238 -0.9311,1.4848 -19.4885,0.075 -0.9826,-1.4984 -5.8869,-0.2474 -1.0827,1.6704 -4.2575,-0.1317 -1.9294,-3.3655 0.3495,-7.084 -2.261,-3.3324 -0.099,-6.9986 5.8939,-23.8714 -0.1929,-27.5016 -14.841,0.014 z m -74.7785,19.9761 -1.9164,1.9273 -4.2876,0 -2.631,2.9774 0,3.9303 2.0139,2.6418 -1.9814,3.7137 0,11.1303 -1.2343,2.4795 0,11.1303 -1.9814,0 0,8.4235 -2.2304,1.4833 0,4.699 2.2304,0 2.1005,2.1005 10.589,0 2.1112,-2.1005 2.2196,0 0,-4.699 -2.2196,-1.4833 0,-8.4235 -1.9813,0 0,-11.1303 -1.2343,-2.4795 0,-11.1303 0.4331,-3.7245 1.5807,-1.5808 0,-2.4469 2.1871,-1.8406 z m 82.2106,56.7993 -1.1802,-2.0572 -2.2953,0 2.8367,-4.9047 0,-6.5504 1.938,-3.3564 0,-8.6617 0,-10e-5 6.1096,0 6.1097,0 0,10e-5 0,8.6617 1.938,3.3564 0,6.5504 2.8367,4.9047 -2.2953,0 -1.1802,2.0572 -7.4089,0 z";
}

.svg-weapons{
    -fx-shape: "m142.63632,735.63171l18.39015,-18.39015l38.37037,9.71289l16.42857,-16.42856l8.77243,-56.8557l204.63395,-204.63395l62.02797,34.13855l20.69992,-20.69991l-15.183,-80.98353l186.30821,-186.3082c33.43717,-33.43718 32.80728,-78.79001 26.87027,-84.72702c-5.93708,-5.93708 -51.28992,-6.56698 -84.72709,26.87019l-186.30821,186.30821l-80.98353,-15.18299l-20.69991,20.69991l34.13855,62.02797l-204.63394,204.63395l-56.8557,8.77244l-16.42857,16.42856l9.71289,38.37037l-18.39015,18.39015l57.85682,57.85682zm239.57308,433.77272l18.39015,-18.3902l38.37037,9.7129l16.42857,-16.4285l8.77244,-56.8557l204.63394,-204.63394l62.02797,34.13855l20.69992,-20.69992l-15.183,-80.98352l186.30821,-186.30821c33.43717,-33.43717 32.80728,-78.79001 26.87027,-84.72702c-5.93708,-5.93708 -51.28992,-6.56697 -84.72709,26.8702l-186.30821,186.30821l-80.98353,-15.183l-20.69991,20.69992l34.13855,62.02797l-204.63394,204.63394l-56.8557,8.77244l-16.42857,16.42857l9.71289,38.37037l-18.39015,18.39014l57.85682,57.8568zm72.55842,-368.48456l18.39015,-18.39015l38.37037,9.71289l16.42857,-16.42856l8.77243,-56.8557l204.63395,-204.63395l62.02797,34.13855l20.69992,-20.69991l-15.183,-80.98353l186.30821,-186.30821c33.43717,-33.43717 32.80728,-78.79001 26.87027,-84.72702c-5.93708,-5.93708 -51.28992,-6.56697 -84.72709,26.8702l-186.30821,186.30821l-80.98353,-15.18299l-20.69991,20.69991l34.13855,62.02797l-204.63395,204.63395l-56.85569,8.77243l-16.42857,16.42857l9.71289,38.37037l-18.39015,18.39015l57.85682,57.85682z";
}

.svg-folder{
	-fx-shape: "m -6659.375,-1316.3878 12.1093,0 8.5938,-20 32.0312,0 9.7657,20 171.875,0 0,162.5 -234.375,0 z";
}

.svg-cog{
	-fx-shape: "m -7111.4504,-2148.6142 -37.0937,1.25 -21.0937,50 -48.25,-24.875 -29.2813,22.8125 12.3125,52.8438 -53.6562,8.25 -10.2813,35.625 41.0313,35.5624 -38.5626,38.1876 12.625,34.875 54.0938,4.625 -8.75,53.5937 30.7188,20.7813 46.4687,-28.0313 24.4375,48.4687 37.0625,-1.25 21.125,-50 48.25,24.875 29.25,-22.7812 -12.3125,-52.875 53.6562,-8.25 10.2813,-35.625 -41.0313,-35.5312 38.5626,-38.2188 -12.625,-34.875 -54.0938,-4.625 8.75,-53.5625 -30.7188,-20.7813 -46.4687,28.0313 -24.4063,-48.5 z m -12.6562,112.9063 c 35.3913,0 64.0938,28.7024 64.0938,64.0937 0,35.3913 -28.7025,64.0625 -64.0938,64.0625 -35.3913,0 -64.0625,-28.6712 -64.0625,-64.0625 0,-35.3913 28.6712,-64.0937 64.0625,-64.0937 z";
}

.svg-arrows{
	-fx-shape: "m -7527.8107,-1637.3747 -167.9379,0 49.2102,49.2101 -153.9063,153.9063 69.5175,69.5175 153.9063,-153.9063 49.2102,49.2102 0,-167.9378 z m -248.8127,434.7501 167.9379,0 -49.2102,-49.2101 153.9063,-153.9063 -69.5175,-69.5175 -153.9063,153.9063 -49.2102,-49.2102 0,167.9378 z";
}

.svg-plus{
	-fx-shape: "M -7733.9688 -2593.6562 L -7733.9688 -2456.6562 L -7870.9688 -2456.6562 L -7870.9688 -2421.3125 L -7733.9688 -2421.3125 L -7733.9688 -2284.3125 L -7698.625 -2284.3125 L -7698.625 -2421.3125 L -7561.625 -2421.3125 L -7561.625 -2456.6562 L -7698.625 -2456.6562 L -7698.625 -2593.6562 L -7733.9688 -2593.6562 z";
}

.svg-search{
	-fx-shape: "m -6924.2272,-2589.0396 c -49.1205,49.1206 -49.1206,128.7608 1e-4,177.8816 44.2291,44.2291 113.2122,48.6345 162.3694,13.214 l 142.703,142.7029 c 4.8202,4.8202 12.5923,4.8202 17.4124,1e-4 l 11.3137,-11.3137 c 4.8202,-4.8202 4.8203,-12.5924 1e-4,-17.4126 l -142.703,-142.703 c 35.4205,-49.1571 31.0151,-118.1402 -13.214,-162.3693 -49.1208,-49.1207 -128.761,-49.1206 -177.8817,0 z m 19.8874,19.8874 c 38.1372,-38.1372 99.9697,-38.1372 138.1069,0 38.137,38.137 38.1371,99.9696 -1e-4,138.1068 -38.1371,38.1371 -99.9697,38.137 -138.1067,0 -38.1372,-38.1372 -38.1372,-99.9697 -10e-5,-138.1068 z";
}