@import 'Equipment.css';

@font-face {
    src: url('../../../../../resources/resources/Rajdhani-Regular.ttf');
}

@font-face {
    src: url('../../../../../resources/resources/Rajdhani-Medium.ttf');
}

@font-face {
    src: url('../../../../../resources/resources/Quark-Bold.otf');
}

@font-face {
    src: url('../../../../../resources/resources/Quark-Light.otf');
}

.root{
	/* @SuppressWarning */
    lsml-orange: hsb(28.0, 100.0%, 78.0%);    
	quirk-bad: hsb(17.0, 70.0%, 90.0%);
	quirk-good: hsb(148.0, 100.0%, 60.0%);
	quirk-neutral: white;
    
    grey-orange-lightest: hsb(27.0,6.0%, 61.0%);
    grey-orange-lighter: hsb(27.0,6.0%, 56.0%);
    grey-orange-light: hsb(27.0,6.0%, 51.0%);
    grey-orange-normal: hsb(27.0,6.0%, 36.0%);
    grey-orange-dark: hsb(27.0,6.0%, 26.0%);
    grey-orange-darker: hsb(27.0,6.0%, 21.0%);
         
    grey-blue-lightest: hsb(240.0,4.0%,66.0%);
    grey-blue-lighter: hsb(240.0,4.0%,56.0%);
    grey-blue-light: hsb(240.0,4.0%,51.0%);
    grey-blue-normal: hsb(240.0,4.0%,40.0%);
    grey-blue-dark: hsb(240.0,4.0%,30.0%);
    grey-blue-darker: hsb(240.0,4.0%,25.0%);
    grey-blue-darkest: hsb(240.0,4.0%,20.0%);
	
	-fx-font-family: 'Rajdhani Medium';
	-fx-font-smoothing-type: gray;
	-fx-font-size: 10.0pt;
	
	-fx-base: grey-blue-darkest;
	-fx-accent: lsml-orange;
	-fx-background-base: grey-blue-darkest;
	-fx-background: -fx-background-base;
	-fx-background-dark: derive(-fx-background-base, -40%);
	
	-fx-highlight: dropshadow(three-pass-box, derive(-fx-base, 70.0%), 3.0, 0.04, 0.0, 0.0);
	
	/******** Remove gradients from just about everything ********/
	-fx-body-color: -fx-color;
    -fx-inner-border: derive(-fx-color,23.0%);  
}

/******** Useful default styles ********/
.h1{
	-fx-font-size: 20.0pt;	
}

.h2{
	-fx-font-size: 14.0pt;
	-fx-font-weight: bold;
}

.default-spacing{
	-fx-vgap: 3.0px;
	-fx-hgap: 3.0px;
	-fx-spacing: 3.0px;
}

.default-padding{
	-fx-padding: 0.2em 0.8em 0.3em 0.6em;
}

/******** Header Pane is used for showing the title on the content ********/
.header-pane{
	-fx-background: -fx-background-dark;
	-fx-background-color: -fx-background-base, -fx-background;
	-fx-background-insets: 0, 0 0 3 0;
	-fx-padding: 0 0 3;
}

.header-pane .h1,
.header-pane .h2{
	-fx-padding: 0.0 0.0 0.0 1.0em;
}

/******** Banner Pane is used for showing the top menu bar ********/
.banner-pane .label{
	-fx-text-fill: derive(-fx-background, 60%);
}

.banner-pane {
	-fx-padding: 5px 0.3em 6px 1.0em;
	-fx-background-color: derive(-fx-inner-border, 40%), -fx-background;
	-fx-background-insets: 0, 0 0 1px 0;
}

.banner-pane .h1{
	-fx-text-fill: derive(-fx-background, 30%);
}

/******** Content Pane is used for showing the page content in a slightly different hue ********/
.content-pane{
	-fx-base: grey-orange-normal;
	-fx-background-base: grey-orange-lighter;
	-fx-background-color: -fx-background;
	-fx-padding: 0 0 1 1;
}


/******** Various Panes ********/
.pane,
.scroll-pane,
.split-pane,
.list-view,
.tree-view,
.table-view, 
.tree-table-view,
.pane:focused,
.scroll-pane:focused,
.split-pane:focused,
.list-view:focused,
.tree-view:focused,
.tree-table-view:focused { 
    -fx-background-insets: 0.0;
    -fx-padding: 0.0;
}

/******** SplitPane ********/
.split-pane:horizontal .split-pane-divider,
.split-pane:vertical .split-pane-divider{
	-fx-background-color: -fx-background-dark;
	-fx-background-insets: 0;
	-fx-padding: 0.15em;
}

/******** TitledPane ********/
.titled-pane .title{	
    -fx-background-color: -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0.0, 1.0 0.0 1.0 0.0;
    -fx-background-radius: 0.0;
}

.titled-pane .title:hover .text{	
    -fx-effect: -fx-highlight;
}

/******** TabPane ********/
.tab-pane .tab-header-background{
	-fx-background-color: derive(-fx-text-box-border, -60.0%);
	-fx-background-insets: 0.0;
}

.tab-pane .tab-content-area{
	-fx-padding: 0.2em 0.0 0.0 0.0;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
	-fx-background-color: -fx-body-color;
    -fx-background-insets: 2.0 2.0 0.0 2.0;
    -fx-background-radius: 0.0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top,
.tab-pane > .tab-header-area > .headers-region > .tab:right,
.tab-pane > .tab-header-area > .headers-region > .tab:bottom,
.tab-pane > .tab-header-area > .headers-region > .tab:left {
    -fx-background-color: -fx-body-color;
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover .text {
    -fx-effect: -fx-highlight;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: -fx-accent, -fx-background;
    -fx-background-insets: 2.0 2.0 0.0 2.0, 4.0 2.0 0.0 2.0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:bottom:selected .focus-indicator,
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator
 {
    -fx-border-width: 1.0, 1.0;
    -fx-border-color: -fx-faint-focus-color, -fx-focus-color;
    -fx-border-insets: -5.0 -6.0 -6.0 -6.0, -4.0 -5.0 -5.0 -5.0;
    -fx-border-radius: 2.0, 1.0; /* looks sharper if outer border has a tighter radius (2 instead of 3) */
}

/******** Buttons ********/
.button,
.toggle-button{
	-fx-background-color: -fx-body-color;
	-fx-background-insets: 0.0;
	-fx-background-radius: 3.0px;
}

.button:hover .text,
.toggle-button:hover .text{
    -fx-effect: -fx-highlight;
}

.toggle-button:selected{
	-fx-base: -fx-accent;
}

/******** Text Field ********/
.text-field{
	-fx-background-color: -fx-control-inner-background;
	-fx-background-insets: 0.0;
}

.text-field:hover .text{
    -fx-effect: -fx-highlight;
}