# ---------------------
# Build artifacts
# ---------------------
*.class
*.log
*.msi
*.wixobj
*.wixpdb
*.exe
*.jar
bin/
lib/
build/
installer/launch4j.xml

# ---------------------
# Backup files
# ---------------------
*#
*~
*.bak

.gradle
.project
.classpath
.settings/*jdt.core*

