# ---------------------
# Build artifacts
# ---------------------
*.class
*.log
*.msi
*.wixobj
*.wixpdb
*.exe
*.bss
*.tar
*.gz
bin/
lib/
build/
installer/launch4j.xml
installer/bin-launch4j
installer/generated.wxs
classes

# ---------------------
# Backup files
# ---------------------
*#
*~
*.bak

.idea
.gradle
.project
.classpath
.factorypath
.settings/*
/.apt_generated/
