@CHARSET "UTF-8";
body {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 400;
	margin: 0px;
    padding: 0px;
    color: black;
    width: 100%;
    overflow-x: hidden;
}

em{
    font-weight: bolder;
    font-style: normal;
}

h1{
	font-size: 2.5em;
    text-align: center;
}

h2{
	font-size: 1.8em;
    text-align: center;
}

small{
    font-size: 0.7em;
}

/**** navigation bar ****/
nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    
    font-size: 1.1em;
    
    color: white;
    text-shadow: 3px 3px 4px black;
    
    background: #313133;
    box-shadow: 0px 1px 4px black;
	
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.sponsors{
    margin-top: 2em;
    background: rgba(0,0,0,0.7);
}

.sponsors h3{
    display: inline;
    padding-right: 1em;
}

.sponsors li{
    font-weight: bold;
    display: inline;
    padding-right: 1em;
}

.sponsors ul{
    list-style-type: none;
    display: inline;
    padding: 0;
}

.navigation{
    vertical-align: middle;
    display: flex;
    flex-flow: row;
}

.navigation div{
    display: inline-block;
}

.social{
    padding: 0.5em;
    display: flex;
    flex-flow: row;
}

.logo{
    height: 3em;
    padding: 0 0.5em 0 2em;
}

.sub-button,
.sub-button a:LINK,
.sub-button a:ACTIVE,
.sub-button a:VISITED,
.big-button,
.big-button a:LINK,
.big-button a:ACTIVE,
.big-button a:VISITED,
.button:LINK,
.button:ACTIVE,
.button:VISITED,
nav a:LINK,
nav a:ACTIVE,
nav a:VISITED{
	text-decoration: none;
	color: white;
}

.sub-button a:HOVER,
.big-button:HOVER,
.button:HOVER,
nav a:HOVER {
	text-decoration: none;
	color: white;
    text-shadow: 1px 1px 4px grey;
}

nav a img {
	padding-left: 1em;

	height: 1.5em;
	width: auto;
	vertical-align: middle;
}
    
nav .social img{
	padding: 0.2em;
    width: 1.66em;
    height: 1.66em;
}

/*****************************************************/
.sub-button,
.big-button,
.button{
    font-size: 1.3em;
    background: #ce5c00;/*#414143;*/
    display:inline-block;
    text-align: center;
    padding: 0.3em 0.7em 0.3em 0.7em;
    margin: 0.25em;
    border-radius: 1em;
    border-width: 2px;
    border-color: #de6c10;/*#515153;*/
    border-style: solid;
    box-shadow: 3px 3px 4px black;
    text-shadow: 1px 1px 3px black;
}

.sub-button img,
.big-button img,
.button img{
    width: auto;
	height: 1.5em;
	vertical-align: middle;
}

.big-button{
    padding-top: 0.5em;
    font-size: 2.3em;
}
.big-button img{
    height: 2em;
}

.sub-button:hover,
.big-button:hover,
.button:hover {
    background: #ee7c20;
    border-color: #fe8c30;
    /*background-color: #3e8e41;
    border-color: #4e9e51;*/
}

.sub-button:active,
.big-button:active,
.button:active {
    background-color: #a24e0b; /*#3e8e41*/;
    border-color: #b35d19; /*#4e9e51*/;
    box-shadow: 1px 1px 4px black;
    transform: translateY(2px);
}

.sub-button{
    background: #3e8e41;
    border-color: #4e9e51;
}

.sub-button:hover{
    background-color: #5ab05d;
    border-color: #6dbf70;
}

.sub-button:active{
    background-color: #336335;
    border-color: #457547;
}

/*****************************************************/
section{
    background: #313133;
    padding: 1px 5em 2em 5em;
}

section:nth-of-type(even){
    background: #e1e1e3;
}

section:nth-of-type(odd){
    background: #d1d1d3;
    color: #313133
}

section.header{
    color: white;
    text-align: center;
    padding-top: 9em;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0em;
    /*background: #ce5c00;*/
    background: url(images/title.jpg);
    background-size: cover;
    text-shadow: 3px 3px 4px black;
}

section.header h1 {
    font-weight: 400;
	padding-bottom: 0;
	margin: 0;
	font-size: 4em;
}

section.header h2 {
    font-weight: 400;
	padding-top: 0;
	margin-top: 0;
	font-size: 1.1em;
}

.content{
    padding: 0 0.5em 0 0.5em;
    vertical-align: top;
    display: flex;
    flex-flow: row;
    max-width: 1000px;
    margin: 0 auto;
}

.content div{
    flex: 1; /* Makes content columns equisized */
    padding: 0 0.25em 0 0.25em;
}

.patreon{
    text-align: center;
}

#slider{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/*****************************************************/
footer {
	width: 100%;
	text-align: center;
	font-size: small;
	border-top-color: #e5e4e3;
	border-top-style: solid;
	border-top-width: 1px;
	background: #bab7b5;
}


@media only screen and (max-width: 750px) {
    body{
        overflow-y: hidden;
    }
    body,
    html{
        overflow-x: hidden;
        position: relative;
    }
    
    nav {
        position: relative;
        padding: 0.5em 0 0 0;
    }
   
    section.header{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    
    .content,
    nav .social,
    nav .navigation{
        display: flex;
        flex-flow: column;
    }
    
    section h2,
    section h1{
        margin: 0.3em 0 0.3em 0;
    }
    
    nav .buttons{
        flex-grow: 100;
    }
    
    nav .logo{
        height: 5em;
        padding: 0 0 0 0.5em;
    }

    section{
        padding: 1px 0.5em 1em 0.5em;
    }
}

@media only screen and (min-width: 751px) and (max-width: 1024px) {
    section{
        padding: 1px 1em 1em 1em;
    }
}
