@font-face {
    font-family: Rajdhani;
    src: url('../../../../../../resources/resources/Rajdhani-Regular.ttf');
    /*font-weight: 400;
    font-style: normal;*/
}

@font-face {
    font-family: Rajdhani;
    src: url('../../../../../../resources/resources/Rajdhani-Medium.ttf');
    /*font-weight: 500;
    font-style: normal;*/
}

@font-face {
    font-family: Rajdhani;
    src: url('../../../../../../resources/resources/Rajdhani-SemiBold.ttf');
    /*font-weight: 600;
    font-style: normal;*/
}

@font-face {
    font-family: Rajdhani;
    src: url('../../../../../../resources/resources/Rajdhani-Bold.ttf');
    /*font-weight: 700;
    font-style: normal;*/
}

@font-face {
    font-family: Rajdhani;
    src: url('../../../../../../resources/resources/Rajdhani-Light.ttf');
    /*font-weight: 300;
    font-style: normal;*/
}

/*
 * Styling for Window Decorations
 */
.decor{
	-fx-background-color: black, hsb(240, 3%, 26%), hsb(240, 6%, 20%);
	-fx-background-insets: 1px, 2px, 3px;
	-fx-padding: 3px;
}
 
.decor-edge{
	-fx-pref-width: 5px;
	-fx-pref-height: 5px;
	-fx-spacing: 10px;
}

.decor-title{
	-fx-font-family: 'Rajdhani Medium';
	-fx-font-weight: 700;
	-fx-text-fill: white;
	-fx-font-size: 12pt;	
}

.decor-button{
	-fx-background-color: transparent;
	-fx-pref-width: 16px;
	-fx-pref-height: 16px;
	-fx-min-width: 16px;
	-fx-min-height: 16px;
	-fx-max-width: 16px;
	-fx-max-height: 16px;
}

.decor-iconify-button{
	-fx-background-image: url('../../../../../../resources/resources/decor_iconify.png');
}

.decor-max-button{
	-fx-background-image: url('../../../../../../resources/resources/decor_max.png');
}

.decor-max-button:hover{
	-fx-background-image: url('../../../../../../resources/resources/decor_restore.png');
}

.decor-close-button{
	-fx-background-image: url('../../../../../../resources/resources/decor_close.png');
}

