@import 'BaseStyle.css';

.root{
	quirk-bad: hsb(17.0, 70.0%, 90.0%);
	quirk-good: hsb(148.0, 100.0%, 70.0%);
	quirk-neutral: white;
		
	colour-lsml-orange: hsb(27.0, 100.0%, 81.0%);
	colour-lsml-gray: hsb(240.0, 5.0%, 20.0%);
	colour-lsml-gray-light: hsb(240.0, 2.0%, 40.0%);
	
	highlight: dropshadow(three-pass-box, grey, 3.0, 0.02, 0.0, 0.0);
}

/*
 * Styling for tooltips
 */

.tooltip{
	-fx-font-size: 9.0pt;
	-fx-wrap-text: true;
}

.tooltip{
	-fx-fill: white;
}

.copyable-label, .copyable-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0.0px ;
}

/*********** Styling for Mobility Arcs ***********/
.mobility-arc-bg{
	-fx-fill:  derive(-lsml-section-header, 20.0%);
}

.mobility-arc-outer{
	-fx-fill: derive(-lsml-section-header, 60.0%);
}

.mobility-arc{
	-fx-fill: derive(-lsml-section-header, 90.0%);
}

/*********** Styling for omnipod combo box ***********/
.combo-box .list-view .list-cell{
	-fx-background: colour-lsml-gray;
	-fx-padding: 2.0pt;
}

.combo-box .list-view .list-cell:selected{
	-fx-background-color: derive(colour-lsml-gray, 20.0%);
}

.combo-box .list-view .list-cell:selected .omni-pod-cell{
	-fx-background-color: derive(colour-lsml-gray-light, 40.0%);
}

.combo-box .list-view .list-cell:hover{
	-fx-background-color: none;
}

.combo-box .list-view .list-cell .omni-pod-cell{
	-fx-background-color: colour-lsml-gray-light;
}


/*********** Styling for components ***********/

.block-container{
	-fx-background-color: -lsml-root-bg;
	/*-fx-padding: 0 1.0em 0 0.2;*/
	-fx-spacing: 0.5em;
}

.block-center{
	-lsml-section-header: grey-blue-light;
    -lsml-section-content: grey-blue-normal;
    -lsml-section-control: grey-blue-light;
    -lsml-section-inner-control: grey-blue-lightest;
    -lsml-section-control-down: grey-blue-dark;
    -lsml-section-detail: grey-blue-lighter;
    -lsml-section-accent: grey-blue-lighter;
    -lsml-bar-color: grey-blue-light;
    -lsml-bar-track: grey-blue-normal;
    -fx-selection-bar: derive(grey-blue-lightest, 40%);
    
    -lsml-tab-fg: grey-blue-dark; 
    -lsml-tab-bg: grey-blue-darker;
}

.block-data{
	-fx-padding: 0em 1em 0em 1em;
	-fx-hgap: 0.4em;
}

.layout-root{
	-fx-padding: 2.0pt;
	/*-fx-background-color: linear-gradient( from 0% 0%  to 100% 100%, hsb(30, 20%, 50%) 0%, derive(colour-lsml-orange, -70%) 30%, colour-lsml-gray 60% )*/
}

.layout-container{	
	-fx-spacing: 2.0pt;
}

.component-root{
	-fx-animated: false;
	-fx-collapsible: false;
	-fx-alignment: center;
}


.component-root .title{
	-fx-background-radius: 2.0 2.0 0.0 0.0;
}

.component-root *.content{
	-fx-border-style: none;
	-fx-border-width: 0.0px;
}

.component-container{
	-fx-spacing: 2.0pt;
	-fx-padding: 2.0pt;
}

/* The container showing equipment (modules, items etc) */
.equipment-view{
	-fx-background-insets: 0.0;
	-fx-background-color: none;
}

.ArmStrut {
	-fx-pref-height: 30.0pt;
}

.TorsoStrut{
	-fx-pref-height: 50.0pt;
}

/*********** Styling for Engine on mech ***********/
.component-engine{
	-fx-padding: 0.0 0.0 4.0pt 0.0;
	-fx-spacing: 3.0pt;	
}

.component-engine .combo-box-base, 
.component-engine .check-box > .box {
	-fx-background-color: derive(colour-engine-item, -20.0%),derive(colour-engine-item, -40.0%), derive(colour-engine-item, -30.0%);
}

.component-engine .combo-box-base:disabled, 
.component-engine .combo-box-base:disabled > .list-cell, 
.component-engine .check-box:disabled {
	-fx-text-fill: colour-engine-fg;
}

.component-engine .combo-box-popup > .list-view {
	-fx-background-color: derive(colour-engine-item, -40.0%), derive(colour-engine-item, -30.0%);
}

.component-engine .combo-box-popup > .list-view .list-cell{
	-fx-background-color: derive(colour-engine-item, -30.0%);
}

/*********** Styling for hard points ***********/
#hardPointContainer{
	-fx-spacing: 2.0pt;
}

/*********** Styling for armor display ***********/
.armor-value, .armor-value .text-field{
	/*-fx-text-fill: white;*/
}

.armor-value:autoarmor, .armor-value:autoarmor .text-field{
	/*-fx-text-fill: hsb(0.0, 0.0%, 70.0%);*/
	-fx-opacity: 0.7;
}

/*********** Styling for equipment list ***********/
.equipment-list{
	-fx-focus-traversable: false;
	-fx-border-width: 0.0;
}

.equipment-list .cell {
	-fx-font-weight: 900;
	-fx-border-width: 0.0;
}

.equipment-list .cell:unequippable {
	-fx-font-weight: 200;
}

.equipment-list .tree-table-row-cell:hover .cell{
	-fx-effect: highlight;
}

.equipment-list .tree-table-row-cell:selected .cell{
	-fx-background-color: none;
}

/*********** Styling for equipped items ***********/

.equipped{
	-fx-background-insets: 1.0;
	-fx-background-radius: 0.0 6.0 0.0 6.0;
	-fx-font-size: 8.0pt;
	-fx-font-weight: bolder;
	-fx-alignment: top-left;
	-fx-padding: 3.0pt;
    -fx-shape: "M 0 0 v 9 l 1 1 H 20 V 1 l -1 -1 z";
}

.equipped:disabled{
	-fx-opacity: 50.0%;
	-fx-text-fill: black;
}


/*********************************/
/*
.icon{
	-fx-min-height: 20pt;
	-fx-pref-height: 100pt;
	
	-fx-min-width: 20pt;
	-fx-pref-width: 100pt;
	-fx-background-color: red;
}
.item-energy{
	-fx-background-color: item-colour-disabled, category-colour-energy-bg;
	-fx-text-fill: white;
}

#equipmentList .cell:unequippable{
	-fx-background-insets: 0, 50;
}

#equipmentList .cell:unequippable .tree-table-cell {
	-fx-text-fill: #404040;
}*/

