.root {
	quirk-bad: hsb(0.0, 64.0%, 68.0%);
	quirk-good: hsb(125.0, 52.0%, 49.0%);
	quirk-neutral: hsb(0, 0%, 50%);
	
	
	-eq-bg: 			transparent;
	-eq-fg: 			-eq-bg;
	-eq-fixed: 			-eq-bg;
	-eq-fg-fixed: 		-eq-bg;
	-eq-item: 			-eq-bg;
}

/*********** --> Equipment base styles ***********/
.equipment-empty{
	-eq-bg: 			hsb(0.0, 0.0%, 35.0%);
	-eq-fg: 			hsb(0.0, 0.0%, 55.0%);
	-eq-fixed: 			-eq-bg;
	-eq-fg-fixed: 		-eq-fg;
	-eq-item: 			-eq-bg;
}

.equipment-internal{
	-eq-item: 		hsb(203.0, 12.0%, 70.0%);
	-eq-fg: 		hsb(203.0, 12.0%, 98.0%);
	-eq-fixed: 		hsb(203.0, 8.0%, 60.0%);
	-eq-fg-fixed: 	hsb(203.0, 8.0%, 30.0%);
}

.equipment-dynamic{
	-eq-item: 		hsb(203.0, 0.0%, 55.0%);
	-eq-fg: 		hsb(203.0, 0.0%, 30.0%);
	-eq-fixed: 		hsb(203.0, 0.0%, 55.0%);
	-eq-fg-fixed: 	hsb(203.0, 0.0%, 30.0%);
}

.equipment-energy{
	-eq-item: 		hsb(30.0, 100.0%, 70.0%);
	-eq-bg: 		hsb(30.0, 12.0%, 63.0%);
	-eq-fg: 		hsb(30.0, 5.0%, 98.0%);
	-eq-bg-dark: 	hsb(30.0, 5.0%, 75.0%);
	-eq-fg-dark: 	hsb(30.0, 10.0%, 55.0%);
	-eq-fixed: 		hsb(30.0, 30.0%, 60.0%);
	-eq-fg-fixed:	hsb(30.0, 30.0%, 30.0%);
}

.equipment-ballistic-ammo,
.equipment-ballistic{
	-eq-item:  		hsb(293.0, 100.0%, 70.0%);
	-eq-bg:			hsb(293.0, 12.0%, 63.0%);
	-eq-fg:			hsb(293.0, 5.0%, 98.0%);
	-eq-bg-dark:	hsb(293.0, 5.0%, 75.0%);
	-eq-fg-dark:	hsb(293.0, 10.0%, 55.0%);
	-eq-fixed: 		hsb(293.0, 30.0%, 60.0%);
	-eq-fg-fixed:	hsb(293.0, 30.0%, 30.0%);
}

.equipment-ballistic-ammo{
	-eq-item:  		hsb(293.0, 80.0%, 30.0%);
}

.equipment-missile-ammo,
.equipment-missile{
	-eq-item: 		hsb(171.0, 100.0%, 70.0%);
	-eq-bg: 		hsb(171.0, 12.0%, 63.0%);
	-eq-fg: 		hsb(171.0, 5.0%, 98.0%);
	-eq-bg-dark: 	hsb(171.0, 5.0%, 75.0%);
	-eq-fg-dark: 	hsb(171.0, 10.0%, 55.0%);
	-eq-fixed: 		hsb(171.0, 30.0%, 60.0%);
	-eq-fg-fixed:	hsb(171.0, 30.0%, 30.0%);
}

.equipment-missile-ammo{
	-eq-item:  		hsb(171.0, 100.0%, 30.0%);	
}

.equipment-ams-ammo,
.equipment-ams{	
	-eq-item: 			hsb(83.0, 100.0%, 70.0%);
	-eq-bg: 			hsb(83.0, 12.0%, 63.0%);
	-eq-fg: 			hsb(83.0, 5.0%, 98.0%);
	-eq-bg-dark: 		hsb(83.0, 5.0%, 75.0%);
	-eq-fg-dark: 		hsb(83.0, 10.0%, 55.0%);
	-eq-fixed: 			hsb(83.0, 30.0%, 60.0%);
	-eq-fg-fixed:		hsb(83.0, 30.0%, 30.0%);
}

.equipment-ams-ammo{
	-eq-item: 			hsb(83.0, 100.0%, 30.0%);
}

.equipment-ecm{
	-eq-item: 			hsb(27.0, 100.0%, 70.0%);
	-eq-bg: 			hsb(27.0, 12.0%, 63.0%);
	-eq-fg: 			hsb(27.0, 5.0%, 98.0%);
	-eq-bg-dark: 		hsb(27.0, 5.0%, 75.0%);
	-eq-fg-dark: 		hsb(27.0, 10.0%, 55.0%);
	-eq-fixed: 			hsb(27.0, 30.0%, 60.0%);
	-eq-fg-fixed:		hsb(27.0, 30.0%, 30.0%);
}

.equipment-engine{
	-eq-item: 			hsb(203.0, 100.0%, 70.0%);
	-eq-bg: 			hsb(203.0, 12.0%, 63.0%);
	-eq-fg: 			hsb(203.0, 5.0%, 98.0%);
	-eq-bg-dark: 		hsb(203.0, 5.0%, 75.0%);
	-eq-fg-dark: 		hsb(203.0, 10.0%, 55.0%);
	-eq-fixed: 			hsb(203.0, 30.0%, 60.0%);
	-eq-fg-fixed: 		hsb(203.0, 30.0%, 30.0%);
}

.equipment-jj,
.equipment-hs,
.equipment-misc{				
	-eq-item: 			hsb(200.0, 100.0%, 70.0%);
	-eq-bg: 			hsb(200.0, 12.0%, 63.0%);
	-eq-fg:  			hsb(200.0, 5.0%, 98.0%);
	-eq-bg-dark:  		hsb(200.0, 5.0%, 75.0%);
	-eq-fg-dark:  		hsb(200.0, 10.0%, 55.0%);
	-eq-fixed: 			hsb(200.0, 30.0%, 60.0%);
	-eq-fg-fixed:		hsb(200.0, 30.0%, 30.0%);
}

.equipment-hs,
.equipment-jj{
	-eq-item: 			hsb(203.0, 100.0%, 70.0%);
	-eq-fg: 			hsb(203.0, 5.0%, 98.0%);
	-eq-fixed: 			hsb(203.0, 30.0%, 60.0%);
	-eq-fg-fixed: 		hsb(203.0, 30.0%, 30.0%);
}

.equipment-consumable,
.equipment-weapon-module,
.equipment-mech-module{
	-eq-item: 			hsb(215.0, 55.0%, 48.0%);
	-eq-bg: 			hsb(215.0, 12.0%, 63.0%);
	-eq-fg: 			hsb(215.0, 5.0%, 98.0%);
	-eq-bg-dark: 		hsb(215.0, 5.0%, 75.0%);
	-eq-fg-dark: 		hsb(215.0, 10.0%, 55.0%);
}


/*********** --> Base style for all equipments in the eq list ***********/
.hard-point{
	-fx-background-color: -eq-item;
	-fx-text-background-color: -eq-fg;
	-fx-padding: 2.0pt;
	-fx-background-radius: 5.0pt;
}

.equipment-list-row .icon-small{
	-fx-pref-width:12pt;
	-fx-pref-height:12pt;
	-fx-effect: null;
	-fx-background-color: -eq-item;
	-fx-text-background-color: white;	
}

.equipment-list-row .label,
.equipment-list-row .cell{
	-fx-padding: 0;	
}

.equipment-list-row{
    -fx-color: derive(-eq-bg, 20%);
    -fx-selection-bar: -eq-bg;
    -fx-selection-bar-non-focused: derive(-fx-selection-bar, -40%);
	-fx-indent: -1.5em;
	
	-fx-background: -eq-bg;
	-fx-text-background-color: -eq-fg;	
}

.equipment-list-row:selected{
    -fx-selection-bar: derive(-eq-bg, 20%);
	-fx-background: derive(-eq-bg, 20%);
}

.equipment-list-row:unequippable{
    -fx-color: derive(-eq-bg-dark, 20%);
	-fx-background: -eq-bg-dark;
	-fx-text-background-color: -eq-fg-dark;	
}

.equipment-list-row:unequippable:selected{
	-fx-background: derive(-eq-bg-dark, 20%);
} 

.equipment-list-row:smartplaceable{
	-fx-background: linear-gradient(from 200.0 0.0 to 201.0 1.0, -eq-bg 0.0%, -eq-bg-dark 100.0%);
}

.equipment-list-row:smartplaceable:selected{
	-fx-background: linear-gradient(from 200.0 0.0 to 201.0 1.0, derive(-eq-bg, 20%) 0.0%, derive(-eq-bg-dark, 20%) 100.0%);
}

.equipment-category{
	-fx-background: -eq-item;
	-fx-text-background-color: -eq-fg;
    -fx-color: derive(-eq-item, 20%);
    -fx-selection-bar: derive(-eq-item, 20%);
    -fx-selection-bar-non-focused: derive(-fx-selection-bar, -40%);
}

.equipment-category:selected{
	-fx-background: derive(-eq-item, 20%);
    -fx-selection-bar: derive(-eq-item, 20%);
}

.equipped:focused,
.equipped:selected,
.equipped{
	-fx-color: derive(-eq-item, -30%);
	-fx-base: derive(-eq-item, -30%);
	-fx-background: -eq-item;
	-fx-background-color: -eq-item;
    -fx-background-insets: 1 !important;
	-fx-background-radius: 0.0 6.0 0.0 6.0;
	
	-fx-text-background-color: -eq-fg;
	
	-fx-font-weight: bolder;
	-fx-alignment: top-left;
	-fx-padding: 3.0pt;
    -fx-shape: "M 0 0 v 9 l 1 1 H 20 V 1 l -1 -1 z";

	lsml-base-colour: derive(-eq-item, -30%);
}

.equipped:disabled{
	-fx-background-color: -eq-fixed;
	-fx-text-background-color: -eq-fg-fixed;
	-fx-opacity: 50.0%;
}

.equipped:disabled .cell {
	-fx-text-background-color: -eq-fg-fixed;
}