@import 'BaseStyle.css';

.mech-view-padding {
    -fx-padding: 1em;
}

/*********** Styling for menu bar ***********/
.menu-bar{ 
	-fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

/*********** Styling for equipment list ***********/
.equipment-list{
	-fx-min-width: 200px;
	-fx-pref-height: 100px; /* Something small to make sure the equipment list doesn't grow the default window size */
}

/*********** Styling for Weapon Lab ***********/
/* Same as accordion */
#leftColumn{
    -fx-background-color:
        derive(-fx-color,-25%),
        -fx-inner-border,
        -fx-body-color;
    -fx-background-insets: -1 0 0 0, 0 0 1 1, 1 1 2 2;
    -fx-background-radius: 0, 0, 0;
}

/*********** Styling for armour display ***********/
.armour-value, 
.armour-value .text-field{}

.armour-value:autoarmour, 
.armour-value:autoarmour .text-field{
	-fx-opacity: 0.7;
}

/************ Styling for 'Mech Components *************/
.component-root{
	-fx-animated: false; 
	-fx-collapsible: false;
	-fx-alignment: center;
	lsml-base-colour: hsb(240.0, 1.0%, 50.0%);
	-fx-control-inner-background: derive(lsml-base-colour, 95.0%);
	-fx-background: hsb(240.0, 1.0%, 40.0%);
	-fx-base: lsml-base-colour;
	-fx-background-radius: 8.0 8.0 0.0 0.0;
	-fx-pref-width: 150px;
	-fx-max-width: 150px;
	-fx-min-width: 150px;
}

.component-root .default-spacing{
	-fx-vgap: 0.2em;
	-fx-hgap: 0.2em;
	-fx-spacing: 0.2em;
}

.component-root .default-padding{
	-fx-padding: 0.2em 0.3em 0.3em 0.3em;
}

.component-root .title{
	-fx-base: hsb(240.0, 1.0%, 25.0%);
	-fx-background-radius: 8.0 8.0 0.0 0.0;
} 
 
.component-root *.content{
	-fx-border-style: none;
	-fx-border-width: 0.0px;
	-fx-background-radius: 0.0 0.0 0.0 0.0;
}

.component-root .list-view{
	-fx-background-color: -fx-background;
}

.arm-strut {
	-fx-pref-height: 30.0pt;
}

/************ Styling for Info Pane *************/
.info-pane .hyperlink {
    -fx-padding: 0 0 0 0.2em;
    -fx-accent: blue;
    -fx-text-background-color: purple;
}

.info-pane .titled-pane {
    -fx-base: derive(lsml-light-gray, -20%);
    -fx-background: derive(lsml-light-gray, -10%);
    -fx-text-base-color: lsml-dark-gray;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-color: null;
}

.info-pane .titled-pane .title{
    -fx-text-base-color: lsml-light-gray;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0.2em 0em 0.2em 0.5em;
    -fx-border-color: null;
}

.info-pane .titled-pane .title .arrow{
    -fx-background-color: derive(lsml-dark-gray, 40%);
}

.info-pane .titled-pane .content{
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-color: null;
}

.info-pane .default-spacing{
	-fx-spacing: 3;
	-fx-vgap: 3;
	-fx-hgap: 3;
}

.info-pane .combo-box{
    -fx-base: lsml-light-gray;
    -fx-padding: 0em 0.2em 0em 0.0em;
}

.info-pane .combo-box .list-cell{
    -fx-padding: 0.1em 0 0.1em 0.4em;
}

.info-pane .combo-box:editable .text-field{
    -fx-padding: 0.1em 0 0 0.25em;
}

.info-pane .combo-box .arrow-button{
    -fx-padding: 0 0.15em 0 0.3em;
}

.info-pane .mobility-arc-arrow,
.info-pane .mobility-arc-bg{
	-fx-fill: derive(-fx-body-color, 20%);
	-fx-stroke-type: outside;
	-fx-stroke-width: 1px;
	-fx-stroke: -fx-outer-border;
}

.info-pane .mobility-arc-outer{
	-fx-fill: derive(-fx-body-color, 55%);
}

.info-pane .mobility-arc{
	-fx-fill: derive(-fx-body-color, 95%);
}

.info-pane .table-view{
	-fx-background-color: -fx-control-inner-background;
	-fx-background-insets: 0px;
}

.info-pane .table-view{
	-fx-padding: 0px;
}