@import 'BaseStyle.css';

.arm-strut {
	-fx-pref-height: 30.0pt;
}

/*********** Styling for armour display ***********/
.armour-value, .armour-value .text-field{
}

.armour-value:autoarmour, .armour-value:autoarmour .text-field{
	-fx-opacity: 0.7;
}

/************ Component Style *************/
.component-root{
	-fx-animated: false;
	-fx-collapsible: false;
	-fx-alignment: center;
	lsml-base-colour: hsb(240.0, 1.0%, 50.0%);
	-fx-control-inner-background: derive(lsml-base-colour, 95.0%);
	-fx-background: hsb(240.0, 1.0%, 40.0%);
	-fx-base: lsml-base-colour;
	-fx-background-radius: 8.0 8.0 0.0 0.0;
	-fx-pref-width: 150px;
}

.infopane,
.equipment-list{
	-fx-pref-height: 100; /* Something small to make sure the equipment list doesn't grow the default window size */
}

.component-root .default-spacing{
	-fx-vgap: 0.2em;
	-fx-hgap: 0.2em;
	-fx-spacing: 0.2em;
}

.component-root .default-padding{
	-fx-padding: 0.2em 0.3em 0.3em 0.3em;
}

.component-root .title{
	-fx-base: hsb(240.0, 1.0%, 25.0%);
	-fx-background-radius: 8.0 8.0 0.0 0.0;
}

.component-root *.content{
	-fx-border-style: none;
	-fx-border-width: 0.0px;
	-fx-background-radius: 0.0 0.0 0.0 0.0;
}

.component-root .list-view{
	-fx-background-color: -fx-background;
}

/************ Info Pane Style *************/
.infopane{
	lsml-base-colour: derive(lsml-bg-light-raw, -5.0%);
}

.infopane .default-spacing{
	-fx-spacing: 3;
	-fx-vgap: 3;
	-fx-hgap: 3;
}

.infopane .titled-pane .title{
	-fx-effect: -fx-boxshadow-down;
}

.infopane .mobility-arc-bg{
	-fx-fill: derive(lsml-base-colour, 40%);
}

.infopane .mobility-arc-outer{
	-fx-fill: derive(lsml-base-colour, 75%);
}

.infopane .mobility-arc{
	-fx-fill: derive(lsml-base-colour, 95%);
}