@import 'BaseStyle.css';


/*********** Styling for menu bar ***********/
.menu-bar{ 
	-fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

/*********** Styling for equipment list ***********/
.equipment-list{
	-fx-min-width: 200px;
	-fx-pref-height: 100px; /* Something small to make sure the equipment list doesn't grow the default window size */
}

/*********** Styling for Weapon Lab ***********/
/* Same as accordion */
#leftColumn{
    -fx-background-color:
        derive(-fx-color,-25%),
        -fx-inner-border,
        -fx-body-color;
    -fx-background-insets: -1 0 0 0, 0 0 1 1, 1 1 2 2;
    -fx-background-radius: 0, 0, 0;
}

/*********** Styling for armour display ***********/
.armour-value, 
.armour-value .text-field{}

.armour-value:autoarmour, 
.armour-value:autoarmour .text-field{
	-fx-opacity: 0.7;
}

/************ Styling for 'Mech Components *************/
.component-root{
	-fx-animated: false; 
	-fx-collapsible: false;
	-fx-alignment: center;
	lsml-base-colour: hsb(240.0, 1.0%, 50.0%);
	-fx-control-inner-background: derive(lsml-base-colour, 95.0%);
	-fx-background: hsb(240.0, 1.0%, 40.0%);
	-fx-base: lsml-base-colour;
	-fx-background-radius: 8.0 8.0 0.0 0.0;
	-fx-pref-width: 150px;
	-fx-max-width: 150px;
	-fx-min-width: 150px;
}

.component-root .default-spacing{
	-fx-vgap: 0.2em;
	-fx-hgap: 0.2em;
	-fx-spacing: 0.2em;
}

.component-root .default-padding{
	-fx-padding: 0.2em 0.3em 0.3em 0.3em;
}

.component-root .title{
	-fx-base: hsb(240.0, 1.0%, 25.0%);
	-fx-background-radius: 8.0 8.0 0.0 0.0;
} 
 
.component-root *.content{
	-fx-border-style: none;
	-fx-border-width: 0.0px;
	-fx-background-radius: 0.0 0.0 0.0 0.0;
}

.component-root .list-view{
	-fx-background-color: -fx-background;
}

.arm-strut {
	-fx-pref-height: 30.0pt;
}

/************ Styling for Info Pane *************/
.info-pane{
	-fx-base: lsml-light-gray;
	-fx-background: lsml-light-gray;/*
	quirk-bad: hsb(0.0, 100.0%, 70.0%);
	quirk-good: hsb(125.0, 100.0%, 70.0%);
	quirk-neutral: hsb(0, 0%, 50%); */
	
	/*-fx-base: -fx-control-inner-background;
	-fx-background-color: -fx-control-inner-background;
	-fx-text-background-color: lsml-light-gray;*/
}
.info-pane .default-spacing{
	-fx-spacing: 3;
	-fx-vgap: 3;
	-fx-hgap: 3;
}

.info-pane .spacing {
	-fx-pref-width: 20em;
}

.info-pane .combo-box{
    -fx-background-color: none;
    -fx-background-insets: none;
    -fx-background-radius: none;
    -fx-padding: 0em 0.2em 0em 0.0em;
}

.info-pane .combo-box:editable{
    -fx-background-color: none;
    -fx-background-insets: none;
    -fx-background-radius: none;
}

.info-pane .combo-box .arrow-button{
    -fx-background-color: none;
    -fx-background-insets: none;
    -fx-background-radius: none;
    -fx-padding: 0;
}

.info-pane .combo-box:editable .text-field{
    -fx-background-color: none;
    -fx-background-insets: none;
    -fx-background-radius: none;
    -fx-padding: 0;
}

.info-pane .combo-box:editable .text-field .text{
    -fx-underline: true;
}

.info-pane .combo-box .list-cell{
    -fx-padding: 0;
}

.info-pane .toggle-button{
	-fx-font-weight: 700;
	-fx-background-color: none;
    -fx-padding: 0 1em 0 0;
}

.info-pane .toggle-button .arrow{
	-fx-pref-width: 0.642855em;
	-fx-pref-height: 0.2857133333333333em;
	
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0 -0.4 -1.1 0;
    
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
	-fx-rotate: -90
}

.info-pane .toggle-button:selected .arrow{
	-fx-rotate: 0
}

.info-pane .mobility-arc-arrow,
.info-pane .mobility-arc-bg{
	-fx-fill: derive(-fx-body-color, 20%);
	-fx-stroke-type: outside;
	-fx-stroke-width: 1px;
	-fx-stroke: -fx-outer-border;
}

.info-pane .mobility-arc-outer{
	-fx-fill: derive(-fx-body-color, 55%);
}

.info-pane .mobility-arc{
	-fx-fill: derive(-fx-body-color, 95%);
}

.info-pane .table-view{
	-fx-background-color: -fx-control-inner-background;
	-fx-background-insets: 0px;
}

.info-pane .table-view{
	-fx-padding: 0px;
}